
#annotation_surface {
    text-align: justify; 
    line-height: 30px;
    white-space: pre-line; 
    font-size: larger; 
    font-family: $font-family-sans-serif;
}

.sticky-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: calc(54px + 2rem);
}

.overflow  {
    overflow-y: auto;
    max-height: calc(100vh - 54px - 7rem);
}

.page-root {
    margin-top: calc(54px + 2rem);
    margin-bottom: 2rem;
}

.divider {
    background-color: $gray-400;
    padding-top: 1px;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 100%;
}

.list-group-item {
    &:hover {
        background-color: $gray-700;
        color: $gray-400;
    }

    &-action {
        color: $gray-400;

        .list-group-item-heading {
            color: $gray-400;
        }
    }

    &:hover .list-group-item-heading {
        color: $gray-400;
    }
}