
.s {

    position:relative; 
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 4px;

    &-1 {
        background-color:  #f44336;
        color: rgb(236, 236, 236);
    }

    &-2 {
        background-color:  #e91e63;
        color: rgb(236, 236, 236);
    }

    &-3 {
        background-color:  #9c27b0;
        color: rgb(236, 236, 236);
    }

    &-4 {
        background-color:  #673ab7;
        color: rgb(236, 236, 236);
    }

    &-5 {
        background-color:  #3f51b5;
        color: rgb(236, 236, 236);
    }

    &-6 {
        background-color:  #1c77c2;
        color: rgb(236, 236, 236);
    }

    &-7 {
        background-color:  #00c6d4;
        color: rgb(236, 236, 236);
    }

    &-8 {
        background-color:  #4caf50;
        color: rgb(236, 236, 236);
    }

    &-9 {
        background-color:  #eb8634;
        color: rgb(236, 236, 236);
    }

    &-10 {
        background-color:  #eb34a8;
        color: rgb(236, 236, 236);
    }

    &-11 {
        background-color:  #34eb89;
        color: rgb(236, 236, 236);
    }

}

